{{#extend "baseinterna"}}
  {{#content "css"}}
    <link rel="stylesheet" href="/static/css/membroStyle.css">
  {{/content}}

  {{#content "mainTitle"}}Cadastrar Membro{{/content}}


  {{#content "body"}}
		<form id="cadastrarMembro-form" action="{{getUrl 'newMember'}}" method="post">
			<div class="atualizar-form-div">
				<label for="inputNome">Nome</label>
				<input type="text" name="first_name" id="inputNome" class="atualizar-form-input" placeholder="">
			</div>

			<div class="atualizar-form-div">
				<label for="inputEmail">E-mail</label>
				<input type="text" name="username" id="inputEmail" class="atualizar-form-input" placeholder="">
			</div>

			<div class="atualizar-form-div">
				<label for="inputPassword">Senha</label>
				<input type="password" name="password" id="inputPassword" class="atualizar-form-input" placeholder="">
			</div>

			<div class="atualizar-form-div">
				<label for="inputTelefone">Telefones</label>
				<input type="text" name="telefone" id="inputTelefone" class="atualizar-form-input" placeholder="">
			</div>

			<div class="atualizar-form-div">
				<label for="inputSetor">Setor</label><br />
				{{ form.setor }}
			</div>
			
			<div id="atualizarButtonDiv" class="atualizar-form-div">
				<input id="atualizarButton" type="submit" value="Cadastrar">
			</div>

		</form>

  {{/content}}

{{/extend}}
