{{#extend "baseinterna"}}
  {{#content "css"}}
    <link rel="stylesheet" href="/static/css/cadastrarEmpresaStyle.css">
  {{/content}}

  {{#content "mainTitle"}}Cadastrar Empresa{{/content}}

  {{#content "body"}}
    <form id="cadastrarEmpresa-form" action="{{ getUrl 'newPartnerCompany' }}" method="post">
      <div class="cadastrar-form-div">
        <label for="inputNome">Nome</label>
        <input type="text" name="name" id="inputNome" class="cadastrar-form-input" placeholder="">
      </div>

      <div class="cadastrar-form-div">
        <label for="inputRamo">Ramo de atuação</label>
        <input type="text" name="branch" id="inputRamo" class="cadastrar-form-input" placeholder="">
      </div>

      <div class="cadastrar-form-div">
        <label for="inputBackground">Background</label>
        <input type="text" name="background" id="inputBackground" class="cadastrar-form-input" placeholder="">
      </div>

      <div class="cadastrar-form-div">
        <label for="inputApoios">Apoios</label>
        <input type="text" name="support" id="inputApoios" class="cadastrar-form-input" placeholder="">
      </div>

      <div class="cadastrar-form-div">
        <label for="inputProposta">Proposta de apoio</label><br />
        <input type="text" name="supportProposal" id="inputProposta" class="cadastrar-form-input" placeholder="">
      </div>

      <div class="cadastrar-form-div">
        <label for="inputParceria">Tipo de Parceria</label><br />
        <input type="text" name="partnershipType" id="inputParceria" class="cadastrar-form-input" placeholder="">
      </div>

      <!--<div class="cadastrar-form-div"><br/>
        <form id="localizarEndereco-form" action="{{ getUrl 'newPartnerCompany' }}" method="post">
          <label for="endereco">Endereço</label><br /> <br/>
          <label for="inputCEP">CEP</label><br />
          <input type="text" name="cep" id="inputCEP" class="cadastrar-form-input" placeholder="">

          <div id="localizarButtonDiv" class="cadastrar-form-div">
          <input id="localizarButton" type="submit" value="Localizar endereço">
          </div>
         
          <label for="inputRua">Rua</label><br />
          <input type="text" name="rua" id="inputRua" class="cadastrar-form-input" placeholder="">

          <label for="inputNum">Num.</label><br />
          <input type="number" name="num" id="inputNum" class="cadastrar-form-input" placeholder="">

          <label for="inputBairro">Bairro</label><br />
          <input type="text" name="bairro" id="inputBairro" class="cadastrar-form-input" placeholder="">

          <label for="inputCidade">Cidade</label><br />
          <input type="text" name="cidade" id="inputCidade" class="cadastrar-form-input" placeholder="">

          <label for="inputEstado">Estado</label><br />
          <input type="text" name="estado" id="inputEstado" class="cadastrar-form-input" placeholder="">

        </form>
      </div>-->

      <div class="cadastrar-form-div"><br/>
        <label for="endereco">Endereço</label><br /> <br/>

        <label for="inputCEP">CEP</label><br />
        <input type="text" name="address.zip" id="inputCEP" class="cadastrar-form-input" placeholder="">
        <button id="address-finder-btn">Localizar</button><br />

        <label for="inputRua">Rua</label><br />
        <input type="text" name="address.street" id="inputRua" class="cadastrar-form-input" placeholder="">

        <label for="inputNum">Num.</label><br />
        <input type="number" name="address.num" id="inputNum" class="cadastrar-form-input" placeholder="">

        <label for="inputBairro">Bairro</label><br />
        <input type="text" name="address.neighborhood" id="inputBairro" class="cadastrar-form-input" placeholder="">

        <label for="inputCidade">Cidade</label><br />
        <input type="text" name="address.city" id="inputCidade" class="cadastrar-form-input" placeholder="">

        <label for="inputEstado">Estado</label><br />
        <input type="text" name="address.state" id="inputEstado" class="cadastrar-form-input" placeholder="">
      </div>

      <div id="cadastrarButtonDiv" class="cadastrar-form-div">
        <input id="cadastrarButton" type="submit" value="Cadastrar">
      </div>
    </form>
  {{/content}}

  {{#content "scripts"}}
  <script>
    $(document).ready(function() {
      var $zipField = $('#inputCEP');
      var $streetField = $('#inputRua');
      var $neighborhoodField = $('#inputBairro');
      var $cityField = $('#inputCidade');
      var $stateField = $('#inputEstado');
      var $addressFinderBtn = $('#address-finder-btn');

      $addressFinderBtn.click(function(evt) {
        evt.preventDefault();

        var zipCode = $zipField.val();
        $addressFinderBtn.html("Localizando...");

        $.ajax({
          url: '/findAddress/'+zipCode,
          method: 'GET',
          dataType: 'json'
        }).done(function(data) {
          $streetField.val(data.street);
          $neighborhoodField.val(data.neighborhood);
          $cityField.val(data.city);
          $stateField.val(data.state);
        }).fail(function() {
          alert("Um erro ocorreu ao tentar localizar o endereço a partir do CEP fornecido!")
        }).always(function() {
          $addressFinderBtn.html("Localizar");
        });
      });
    });
  </script>
  {{/content}}
{{/extend}}