{{#extend "baseinterna"}}
  {{#content "css"}}
    <link rel="stylesheet" href="/static/css/consultarEmpresaStyle.css">
  {{/content}}

  {{#content "mainTitle"}}Consultar Empresas{{/content}}


  {{#content "body"}}

		<!-- Modal editar Empresa -->
		<div id="modalEditarEmpresa" hidden>

			<h1>Editar Membro</h1>
			<form action="#" method="POST" id="editarForm">
			<div class="editar-form-div">
				<label for="inputNome">Nome</label>
				<input type="text" name="nome" id="inputNome" class="editar-form-input" placeholder="">
			</div>

			<div class="editar-form-div">
				<label for="inputRamo">Ramo de atuação</label>
				<input type="text" name="ramoAtuacao" id="inputRamo" class="editar-form-input" placeholder="">
			</div>

			<div class="editar-form-div">
				<label for="inputBackground">Background</label>
				<input type="text" name="background" id="inputBackground" class="editar-form-input" placeholder="">
			</div>

			<div class="editar-form-div">
				<label for="inputApoios">Apoios</label>
				<input type="text" name="apoios" id="inputApoios" class="editar-form-input" placeholder="">
			</div>

			<div class="editar-form-div">
				<label for="inputProposta">Proposta de apoio</label><br />
				<input type="text" name="propostaApoio" id="inputProposta" class="editar-form-input" placeholder="">
			</div>

			<div class="editar-form-div">
				<label for="tipoParceria">Tipo de Parceria</label><br />
				{{ form.tipoParceria }}
			</div>

			<div class="editar-form-div">
				<label for="iniciativas">Iniciativas</label><br />
				{{ form.iniciativas }}
			</div>

				<div id="editarButtonDiv" class="editar-form-div">
					<input id="editarButton" type="submit" value="Editar">
				</div>
			</form>				
		</div><!-- /.modal -->

		<form id="consultarIniciativa-form"> <!-- action correto? -->

			<div class="consultar-form-div">
				<label for="inputEmpresasVar">Variável</label><br />
				<select name="inputEmpresasVar" id="cmb-variavel">
						<option value="name"> Nome </option>
						<option value="branch"> Ramo </option>
						<option value="background"> Background </option>
						<option value="support"> Apoios </option>
						<option value="supportProposal"> Propostas de apoio</option>
						<option value="partnershipType"> Tipo de parceria </option>
						<option value="address.street"> Rua </option>
						<option value="address.num"> Numero </option>
						<option value="address.neighborhood"> Bairro </option>
						<option value="address.city"> Cidade </option>
						<option value="address.state"> Estado </option>
						<option value="address.zip"> CEP </option>
				</select>
			</div>

			<div class="consultar-form-div">
				<label for="inputNome">Pesquisa</label>
				<input type="text" id="inputPesquisa" class="consultar-form-input" placeholder="">
				<input type="button" value="Pesquisar" onclick="searchCompanies('{{getUrl 'searchCompanies'}}')">
			</div>

			<div class="consultar-form-div">
				<table id="tabela">
					<tr>
						<th>Nome</th>
						<th>Ramo</th>
						<th>Background</th>
						<th>Apoios</th>
						<th>Propostas de apoio</th>
						<th>Tipo de parceria</th>
						<th>Rua</th>
						<th>Numero</th>
						<th>Bairro</th>
						<th>Cidade</th>
						<th>Estado</th>
						<th>CEP</th>
					</tr>
				{{#each companies}}
					<tr>
						<td class="Name">{{ name }}</td>
						<td class="Branch">{{ branch }}</td>
						<td class="Background">{{ background }}</td>
						<td class="Support">{{ support }}</td>
						<td class="Support Proposal">{{ supportProposal }}</td>
						<td class="Partnership Type">{{ partnershipType }}</td>
						<td class="street">{{ address.street }}</td>
						<td class="num">{{ address.num }}</td>
						<td class="neighborhood">{{ address.neighborhood }}</td>
						<td class="city">{{ address.city }}</td>
						<td class="state">{{ address.state }}</td>
						<td class="zip">{{ address.zip }}</td>
					</tr>
				{{/each}}
						<!--
						<tr onclick="ClickHandler(this, '{{instance.pk}}', '{{ csrf_token }}', event, '{% url 'RemoverEmpresa' instance.pk %}', '{% url 'EditarEmpresa' instance.pk %}')" class="tabela-linha">-->

				

			
				</table>
			</div>

			<ul id="dropdown" role="menu" hidden aria-labelledby="menuitems">
				<li><a href="#" data-toggle="modal" id="editarLink" onclick="showModal()">Editar Empresa</a></li>
				<li><a href="#" id="removerLink">Remover Empresa</a></li>
			</ul>

		</form>

  {{/content}}


{{#content "scripts"}}
	<script src="/static/js/consultarEmpresaJS.js"></script>
{{/content}}

{{/extend}}





