{{#extend "baseinterna"}}
  {{#content "css"}}
<link rel="stylesheet" href="{% static 'css/consultarMembroStyle.css' %}">
  {{/content}}

{{#content "mainTitle"}}Consultar Membro{{/content}}

{{#content "body"}}
	{{#if form.errors}}
	<div id="form-error">
		<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
		<ul>			
			{{#each form.field}}
			<li> {{this.name }} {{ this.errors|striptags }}</li>
			{{/each}}
		</ul>
	</div>
	{{/if}}

  <!-- Modal editar Membro -->
  <div id="modalEditarMembro" hidden>

	<h1>Editar Membro</h1>
	<form action="#" method="POST" id="editarForm">
		<div class="editar-form-div">
			<label for="inputNome">Nome</label>
			<input type="text" name="first_name" id="inputNome" class="editar-form-input" placeholder="">
		</div>

		<div class="editar-form-div">
			<label for="inputEmail">E-mail</label>
			<input type="text" name="username" id="inputEmail" class="editar-form-input" placeholder="">
		</div>

		<div class="editar-form-div">
			<label for="inputPassword">Senha</label>
			<input type="text" name="password" id="inputPassword" class="editar-form-input" placeholder="">
		</div>

		<div class="editar-form-div">
			<label for="inputTelefone">Telefones</label>
			<input type="text" name="telefone" id="inputTelefone" class="editar-form-input" placeholder="">
		</div>

		<div class="editar-form-div">
			<label for="inputSetor">Setor</label><br />
			{{ form.setor }}
		</div>

		<div id="editarButtonDiv" class="editar-form-div">
			<input id="editarButton" type="submit" value="Editar">
		</div>
	</form>				
  </div><!-- /.modal -->

  <form id="consultarIniciativa-form" action="{%url 'ConsultarMembro'%}" method="post"> <!-- action correto? -->

	<div class="consultar-form-div">
		<label for="inputMembroVar">Variável</label><br />
		<select name="inputMembroVar" id="cmb-variavel">
			{{#each membros}}
				{{#each this.fields.items}}
					<option value="{{this}}">{{this}}</option>
				{{/each}}
			{{/each}}
		</select>
	</div>

	<div class="consultar-form-div">
		<label for="inputNome">Pesquisa</label>
		<input type="text" name="first_name" id="inputPesquisa" class="consultar-form-input" placeholder="">
	</div>

	<div class="consultar-form-div">
		<table id="tabela">
			<tr>
				{{#each membros}}
					{{#each this.fields.items}}
						<th>{{field}}</th>
					{{/each}}
				{{/each}}
			</tr>
			{{#each membros}}
				<tr onclick="ClickHandler(this, '{{this.pk}}', event, '{% url 'RemoverMembro' this.pk %}', '{% url 'EditarMembro' this.pk %}')" class="tabela-linha">
					{% for field, value in instance.fields.items %}
					<td class="{{field}}">{{ value }}</td>
					{% endfor %}
				</tr>
			{{/each}}
		</table>
	</div>

	<ul id="dropdown" role="menu" hidden aria-labelledby="menuitems">
		<li><a href="#" data-toggle="modal" id="editarLink" onclick="showModal()">Editar Membro</a></li>
		<li><a href="#" id="removerLink">Remover Membro</a></li>
	</ul>

  </form>

{{/content}}

{{#content "scripts"}}
    <script src="{% static 'js/consultarMembroJS.js' %}"></script>
  {{/content}}
{{/extend}}