{{#extend "baseinterna"}}
  {{#content "css"}}
<link rel="stylesheet" href="{% static 'css/setoresStyle.css' %}">
{{/content}}

{{#content "mainTitle"}}Setores{{/content}}

{{#content "body"}}



<div id="cadastrarSetor">
	<h2 id="cadastrarTitulo">Cadastrar setor</h2>	

	<form id = "cadastrarSetor" action ="{%url 'CadastrarSetor'%}" method="post">

		<div class="cadastrar-form-div">
			<label for="inputNome">Nome</label>
			<input type="text" name="nome" id="inputNome" class="cadastrar-form-input" placeholder="">
		</div>

		<div class="cadastrar-form-div">
			<label for="inputPermissao">Permissão</label><br />
			<select name="permissao">
				<option value="1">Editar e Remover</option>
				<option value="2">Editar</option>
				<option value="3">Visualizar</option>
			</select>
		</div>

		<div id="cadastrarSetorDiv" class="buttonDiv cadastrar-form-div">
			<input id="cadastrarButton" type="submit" value="Cadastrar" onclick="clicked();">
		</div>

	</form> 

</div>

<div id="removerSetor">

	<h2 id="removerTitulo">Remover setor</h2>
	
	<form id = "removerSetor" action ="{%url 'RemoverSetor'%}" method="post">
		<div class="cadastrar-form-div">
			<label for="inputSetor">Setor</label><br/>
			<select name="removeSetor">
				{% for instance in setores %}
				{% for field, value in instance.fields.items %}
				<option value="{{value}}">{{ value }}</option>
				{% endfor %}
				{% endfor %}
			</select>
		</div>

		<div id="removerSetorDiv" class="buttonDiv cadastrar-form-div">
			<input id="removerButton" type="submit" value="Remover">
		</div>
	</form>
	
</div>
{{/content}}
{{/extend}}